@general-small: 	5px;
@general-medium: 	10px;
@general-large: 	20px;

// Padding utilities
.pan { padding: 0 !important; }
.pas { padding: @general-small !important; }
.pam { padding: @general-medium !important; }
.pal { padding: @general-large !important; }
.ptn { padding-top: 0 !important; }
.pts { padding-top: @general-small !important; }
.ptm { padding-top: @general-medium !important; }
.ptl { padding-top: @general-large !important; }
.prn { padding-right: 0 !important; }
.prs { padding-right: @general-small !important; }
.prm { padding-right: @general-medium !important; }
.prl { padding-right: @general-large !important; }
.pbn { padding-bottom: 0 !important; }
.pbs { padding-bottom: @general-small !important; }
.pbm { padding-bottom: @general-medium !important; }
.pbl { padding-bottom: @general-large !important; }
.pln { padding-left: 0 !important; }
.pls { padding-left: @general-small !important; }
.plm { padding-left: @general-medium !important; }
.pll { padding-left: @general-large !important; }
.pvn { padding-top: 0 !important; padding-bottom: 0 !important; }
.pvs { padding-top: @general-small !important; padding-bottom: @general-small !important; }
.pvm { padding-top: @general-medium !important; padding-bottom: @general-medium !important; }
.pvl { padding-top: @general-large !important; padding-bottom: @general-large !important; }
.phn { padding-left: 0 !important; padding-right: 0 !important; }
.phs { padding-left: @general-small !important; padding-right: @general-small !important; }
.phm { padding-left: @general-medium !important; padding-right: @general-medium !important; }
.phl { padding-left: @general-large !important; padding-right: @general-large !important; }
.pva { 
	padding-top: auto !important;
	padding-bottom: auto !important;
}
.pha {
	padding-left: auto !important;
	padding-right: auto !important;
}

// Margin utilities
.man { margin: 0 !important; }
.mas { margin: @general-small !important; }
.mam { margin: @general-medium !important; }
.mal { margin: @general-large !important; }
.mtn { margin-top: 0 !important; }
.mts { margin-top: @general-small !important; }
.mtm { margin-top: @general-medium !important; }
.mtl { margin-top: @general-large !important; }
.mrn { margin-right: 0 !important; }
.mrs { margin-right: @general-small !important; }
.mrm { margin-right: @general-medium !important; }
.mrl { margin-right: @general-large !important; }
.mbn { margin-bottom: 0 !important; }
.mbs { margin-bottom: @general-small !important; }
.mbm { margin-bottom: @general-medium !important; }
.mbl { margin-bottom: @general-large !important; }
.mln { margin-left: 0 !important; }
.mls { margin-left: @general-small !important; }
.mlm { margin-left: @general-medium !important; }
.mll { margin-left: @general-large !important; }
.mvn { margin-top: 0 !important; margin-bottom: 0 !important; }
.mvs { margin-top: @general-small !important; margin-bottom: @general-small !important; }
.mvm { margin-top: @general-medium !important; margin-bottom: @general-medium !important; }
.mvl { margin-top: @general-large !important; margin-bottom: @general-large !important; }
.mhn { margin-left: 0 !important; margin-right: 0 !important; }
.mhs { margin-left: @general-small !important; margin-right: @general-small !important; }
.mhm { margin-left: @general-medium !important; margin-right: @general-medium !important; }
.mhl { margin-left: @general-large !important; margin-right: @general-large !important; }
.mva { 
	margin-top: auto !important;
	margin-bottom: auto !important;
}
.mha {
	margin-left: auto !important;
	margin-right: auto !important;
}